
    <div class="container">
        <div class="bs-docs-social">
            <ul class="bs-docs-social-buttons">
                <li class="follow-btn">
                    <iframe id="twitter-widget-i1441425144175271546" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" src="http://platform.twitter.com/widgets/follow_button.e5e892aa8b44a208190cd018a89499d8.en.html#_=1441425144252&amp;dnt=false&amp;id=twitter-widget-i1441425144175271546&amp;lang=en&amp;screen_name=findmyTraining&amp;show_count=true&amp;show_screen_name=true&amp;size=m" style="position: static; visibility: visible; width: 227px; height: 20px;" data-screen-name="FindMyTraining"></iframe>
                </li>
                <li class="tweet-btn">
                    <iframe id="twitter-widget-i1441425144182157007" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-share-button twitter-share-button-rendered twitter-tweet-button" src="http://platform.twitter.com/widgets/tweet_button.420281f7dd393a35b17552fb11b499a9.en.html#_=1441425144262&amp;count=horizontal&amp;dnt=false&amp;id=twitter-widget-i1441425144182157007&amp;lang=en&amp;original_referer=http%3A%2F%2Fgetbootstrap.com%2Fcomponents%2F&amp;related=mdo%3ACreator%20of%20Bootstrap&amp;size=m&amp;text=Components%20%C2%B7%20Bootstrap&amp;type=share&amp;url=http%3A%2F%2Fgetbootstrap.com%2F&amp;via=getbootstrap" style="position: static; visibility: visible; width: 96px; height: 20px;" data-url="http://getbootstrap.com/"></iframe>
                </li>
            </ul>
        </div>
        <p>Maintained by the core team with the help of our contributors</p>
        <ul class="bs-docs-footer-links text-muted">
            <li>Currently v1.0.0</li>
            <li>·</li>
            <li><a href="../about/">About</a></li>
            <li>·</li>
            <li><a href="http://blog.getbootstrap.com">Blog</a></li>
            <li>·</li>
            <li><a href="https://github.com/twbs/bootstrap/issues">Issues</a></li>
            <li>·</li>
            <li><a href="https://github.com/twbs/bootstrap/releases">Contact Us</a></li>
        </ul>
    </div>

