<section data-ng-controller="HomeController" data-ng-init="getDropDowns()">

	<div class="container">
		<div class="row">
  			<div class="col-md-12"><h3 class="text-center">Find trainings of your choice</h3></div>
  		</div>

		<form data-ng-submit="search()" novalidate>
		<div class="well">
  		<div class="row">
		    <div class="col-xs-6 col-md-4">
		    	<div class="row" >  <!-- ng-controller="ExampleController" -->
			        <div class="col-xs-8 col-xs-offset-2">

			                <!--<div class="input-group">
			                    <input type="text" class="form-control" data-ng-model="city" id="city" placeholder="City">
			                    <div class="input-group-btn">
									<span class="dropdown" dropdown/>
			                        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ><span class="caret"></span></button>
			                        <ul id="color-dropdown-menu1" class="dropdown-menu dropdown-menu-right" dropdown-menu role="menu">
			                            &lt;!&ndash; <li ng-repeat="color in colors" class="input-lg"><a href="#" ng-click="changeColor(color)">{{color.name}}</a></li> &ndash;&gt;
			                            <li><a href="#">Action</a></li>
									    <li><a href="#">Another action</a></li>
									    <li><a href="#">Something else here</a></li>
									    <li><a href="#">Separated link</a></li>
			                        </ul>
			                    </div>
							</div>-->
						<div class="controls">
							<select class="form-control" data-ng-model="city" id="city">
								<option value="" disabled selected>Select City</option>
								<option ng-repeat="location in locations"  value="{{location._id}}">{{location.city}}</option>
							</select>
						</div>

        			</div>
    			</div>
		    </div>

		    <div class="col-xs-6 col-md-4">
		    	<div class="row" >  <!-- ng-controller="ExampleController" -->
			         <div class="col-xs-8 col-xs-offset-2">
			               <!-- <div class="input-group">
			                    <input type="text" class="form-control" data-ng-model="trainingName" id="trainingName" placeholder="Training">
			                    <div class="input-group-btn">
			                    	<span class="dropdown" dropdown/>
			                        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle><span class="caret"></span></button>
			                        <ul id="color-dropdown-menu2" class="dropdown-menu dropdown-menu-right" dropdown-menu role="menu">
			                            &lt;!&ndash; <li ng-repeat="color in colors" class="input-lg"><a href="#" ng-click="changeColor(color)">{{color.name}}</a></li> &ndash;&gt;
			                            <li><a href="#">Action</a></li>
									    <li><a href="#">Another action</a></li>
									    <li><a href="#">Something else here</a></li>
									    <li><a href="#">Separated link</a></li>
			                        </ul>
			                    </div>
			                </div>-->
						 <div class="controls">
							 <select class="form-control" data-ng-model="courseCategory" id="courseCategory">
								 <option value="" disabled selected>Select Course</option>
								 <option ng-repeat="coursecategory in coursecategories"  value="{{coursecategory._id}}">{{coursecategory.courseName}}</option>
							 </select>
						 </div>
    				</div>
		    	</div>
			</div>


		    <div class="col-xs-6 col-md-4">
		    	<button type="submit" class="btn btn-success btn-md">Search    <span class="glyphicon glyphicon-search" aria-hidden="true"/>
				</button>
		    </div>
		</div>
		</div>
		</form>


		<div class="row">
			<div class="col-md-12"><h3 class="text-center">Categories</h3></div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center">
					<a class="label label-default">PMP</a>
					<a class="label label-primary">ITIL</a>
					<a class="label label-success">PRINCE2</a>
					<a class="label label-info">SCRUM</a>
					<a class="label label-warning">SIX SIGMA</a>
				</h3>
			</div>
		</div>
		</br>
		</br>
		</br>
		</br>
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Blog Feed</h3>
					</div>
					<div class="panel-body">
						Panel content
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Upcoming Courses</h3>
					</div>
					<div class="panel-body">
						Panel content
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Twitter Feed</h3>
					</div>
					<div class="panel-body">
						<a class="twitter-timeline" href="https://twitter.com/search?q=%23pmp%20" data-widget-id="640094995333038080">Tweets about #pmp </a>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
