<section data-ng-controller="TrainingprovidersController">
    <div class="page-header">
        <h1>New Training Provider</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="companyName">Company Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="companyName" id="companyName" class="form-control" placeholder="Company Name" required>
                    </div>
                    <label class="control-label" for="url">URL</label>
                    <div class="controls">
                        <input type="text" data-ng-model="url" id="Url" class="form-control" placeholder="Url" required>
                    </div>
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea data-ng-model="description" id="description" class="form-control" placeholder="Description" required></textarea>
                    </div>
                    <label class="control-label" for="address">Address</label>
                    <div class="controls">
                        <input type="text" data-ng-model="address" id="address" class="form-control" placeholder="Address" required>
                    </div>
                    <label class="control-label" for="city">City</label>
                    <div class="controls">
                        <input type="text" data-ng-model="city" id="city" class="form-control" placeholder="City" required>
                    </div>
                    <label class="control-label" for="country">Country</label>
                    <div class="controls">
                        <input type="text" data-ng-model="country" id="country" class="form-control" placeholder="Country" required>
                    </div>
                    <label class="control-label" for="contactNo">Contact No</label>
                    <div class="controls">
                        <input type="text" data-ng-model="contactNo" id="contactNo" class="form-control" placeholder="Contact No" required>
                    </div>
                    <label class="control-label" for="email">Email Id</label>
                    <div class="controls">
                        <input type="text" data-ng-model="email" id="email" class="form-control" placeholder="Email" required>
                    </div>
                    <h3>Contact Persons</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" for="cName1">Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="contact1.cName" id="cName1" class="form-control" placeholder="Contact Name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="cEmail1">Email</label>
                            <div class="controls">
                                <input type="text" data-ng-model="contact1.cEmail" id="cEmail1" class="form-control" placeholder="Contact Email" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="cPhone1">Phone</label>
                            <div class="controls">
                                <input type="text" data-ng-model="contact1.cPhone" id="cPhone1" class="form-control" placeholder="Contact Phone" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" for="cName2">Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="contact2.cName" id="cName2" class="form-control" placeholder="Contact Name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="cEmail2">Email</label>
                            <div class="controls">
                                <input type="text" data-ng-model="contact2.cEmail" id="cEmail2" class="form-control" placeholder="Contact Email" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="cPhone2">Phone</label>
                            <div class="controls">
                                <input type="text" data-ng-model="contact2.cPhone" id="cPhone2" class="form-control" placeholder="Contact Phone" required>
                            </div>
                        </div>
                    </div>
                    <h3>Trainers</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" for="tname1">Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="trainer1.trainerName" id="tname1" class="form-control" placeholder="Trainer Name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="tprofile1">Profile</label>
                            <div class="controls">
                                <textarea data-ng-model="trainer1.profile" id="tprofile1" class="form-control" placeholder="Trainer Profile" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="tphoto1">Photo</label>
                            <div class="controls">
                                <input type="text" data-ng-model="trainer1.photo" id="tphoto1" class="form-control" placeholder="Trainer Photo" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" for="tname2">Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="trainer2.trainerName" id="tname2" class="form-control" placeholder="Trainer Name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="tprofile2">Profile</label>
                            <div class="controls">
                                <textarea data-ng-model="trainer2.profile" id="tprofile2" class="form-control" placeholder="Trainer Profile" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="tphoto2">Photo</label>
                            <div class="controls">
                                <input type="text" data-ng-model="trainer2.photo" id="tphoto2" class="form-control" placeholder="Trainer Photo" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" for="tname3">Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="trainer3.trainerName" id="tname3" class="form-control" placeholder="Trainer Name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="tprofile3">Profile</label>
                            <div class="controls">
                                <textarea data-ng-model="trainer3.profile" id="tprofile3" class="form-control" placeholder="Trainer Profile" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="tphoto3">Photo</label>
                            <div class="controls">
                                <input type="text" data-ng-model="trainer3.photo" id="tphoto3" class="form-control" placeholder="Trainer Photo" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" for="tname4">Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="trainer4.trainerName" id="tname4" class="form-control" placeholder="Trainer Name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="tprofile4">Profile</label>
                            <div class="controls">
                                <textarea data-ng-model="trainer4.profile" id="tprofile4" class="form-control" placeholder="Trainer Profile" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="tphoto4">Photo</label>
                            <div class="controls">
                                <input type="text" data-ng-model="trainer4.photo" id="tphoto4" class="form-control" placeholder="Trainer Photo" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label" for="tname5">Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="trainer5.trainerName" id="tname5" class="form-control" placeholder="Trainer Name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="tprofile5">Profile</label>
                            <div class="controls">
                                <textarea data-ng-model="trainer5.profile" id="tprofile5" class="form-control" placeholder="Trainer Profile" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label" for="tphoto5">Photo</label>
                            <div class="controls">
                                <input type="text" data-ng-model="trainer5.photo" id="tphoto5" class="form-control" placeholder="Trainer Photo" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
