<section data-ng-controller="CoursecategoriesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Coursecategories</h1>
    </div>
    <div class="list-group">
        <div data-ng-repeat="coursecategory in coursecategories" data-ng-href="#!/coursecategories/{{coursecategory._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="coursecategory.addedDate | date:'medium'"></span>
				by
				<span data-ng-bind="coursecategory.addedBy.displayName"></span>
			</small>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="list-group-item-heading" data-ng-bind="coursecategory.courseName"></h4>
                </div>
                <div class="col-md-6">
                <div class="pull-right"> <!--data-ng-show="((authentication.user) && (authentication.user._id == coursecategory.addedBy._id))"-->
                    <a class="btn btn-primary" href="/#!/coursecategories/{{coursecategory._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-primary" data-ng-click="remove(coursecategory);">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
                </div>
            </div>

        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!coursecategories.$resolved || coursecategories.length">
    	No Coursecategories yet, why don't you <a href="/#!/coursecategories/create">create one</a>?
    </div>
</section>
